{# templates/book/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books List</h1>
    <ul>
        {% for book in books %}
            <li>
                <a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}